{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>
<body>

  <div class="change-password-container">
    <h2>Change Password</h2>
    {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="message {{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
    {% endif %}
    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
      <label for="current_password">Current Password:</label>
      <input type="password" id="current_password" name="current_password" required>

      <label for="new_password">New Password:</label>
      <input type="password" id="new_password" name="new_password" required>

      <label for="confirm_password">Confirm New Password:</label>
      <input type="password" id="confirm_password" name="confirm_password" required>

      <div class="form-actions">
        <button type="submit">Update Password</button>
      </div>
    </form>
  </div>

</body>
</html>
